<div class="product-list-container">
  <mat-toolbar color="primary">
    <span>Meus Produtos</span>
    <span class="spacer"></span>
    <button mat-button (click)="toggleCategoryForm()">Criar Categoria</button>
    <button mat-button routerLink="/products/new">Adicionar Produto</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>

  <div class="content">
    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Formulário de criação de categoria (inicialmente escondido) -->
    <app-category
      *ngIf="showCategoryForm"
      (categoryCreated)="onCategoryCreated($event)"
    ></app-category>

    <mat-card *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle
          >Categoria: {{ getCategoryName(product.category) }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p>{{ product.description }}</p>
        <p class="price">Preço: R$ {{ product.price }}</p>
        <p class="date">Criado em: {{ product.created_at | date }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
